footer
  .container.text-center
    p.pull-left © 2015 BIC, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://www.bic.hk') BIC Company
      li
        a(href='http://www.bic.hk') Feedback