extends layout

block content
  h1 2PROFIT.HK e桶金交易平台
  p.lead 安全、透明、中立的投资平台
  hr
  .row
    .col-sm-6
      h2 他们都在2PROFIT.HK交易
      p 立即加入
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 交易墙
      p 交易墙
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 谁的投资回报率最高
      p 回报率排行
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 2PROFIT.HK当前交易总量
      p $1000000000
      p
        a.btn.btn-default(href='#', role='button') View details »